/*@font-face{
    font-family:20db_webfont;
    src:url(../font/20db_regular_ubasic/20db-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:archistico_webfont;
    src:url(../font/archistico_normal_ubasic/Archistico_Simple-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:bebas_webfont;
    src:url(../font/bebas_regular_ubasic/BEBAS___-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:bostontraffic_webfont;
    src:url(../font/bostontraffic_regular_ubasic/boston_traffic-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:capsuula_webfont;
    src:url(../font/capsuula_regular_ubasic/Capsuula-webfont.ttf) format('truetype');}

	@font-face{
    font-family:capsuula_webfont;
    src:url(../font/captureit_ubasic/Capsuula-webfont.ttf) format('truetype');}
	*/
	
	.ui-navbar li .ui-btn { 
	font-size: 1em;
    line-height: 1.5; }
	
div#pebbleTime {
	margin: auto;
    width: 230px;
    height: 208px;
}
div#outerRight {
   background: grey;
    width: 10px;
    height: 244px;
    margin: .5em 0;
    border-radius:  0 1em  1em 0 / 0 50% 50% 0;
}

div#outerLeft {
   background: grey;
    width: 10px;
    height: 244px;
    margin: .5em 0;
    border-radius: 1em 0 0 1em / 50% 0 0 50%;
}

div#outerFrame {
    width: 210px;
    height: 260px;
    background: grey;
    border-radius: 50% 50% 50% 50% / .5em .5em .5em .5em;
}

div#wrapper {
    width: 176px;
    height: 208px;
}

div#innerFrame {
    position: relative;
    background: #000;
    width: 164px;
    height: 208px;
    border-radius: 50% 50% 50% 50% / .4em .4em .4em .4em;
}

div#innerLeft {
   background: #000;
    width: 6px;
    height: 196px;
    margin: .4em 0;
    border-radius: .4em 0 0 .4em / 50% 0 0 50%;
}

div#innerRight {
  background: #000;
    width: 6px;
    height: 196px;
    margin: .4em 0;
    border-radius:  0 .4em .4em 0 / 0 50% 50% 0;
}

div#preview {
    width: 144px;
    height: 168px;
    background: #a5a5a5;
    border-radius: 5px;
}

#preview div.line {
    width: 144px;
    height: 40px;
    float: left;
    text-align: center;
    color: #ffffff;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
 float: left;   
}

/*
.20db .line {
    font-family: '20db_webfont', arial, serif;
    font-size: 2.125em;
}

.archistico .line {
    font-family: 'archistico_webfont', arial, serif;
    font-size: 2.125em;
} */
