/*@font-face{
    font-family:20db_webfont;
    src:url(../font/20db_regular_ubasic/20db-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:archistico_webfont;
    src:url(../font/archistico_normal_ubasic/Archistico_Simple-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:bebas_webfont;
    src:url(../font/bebas_regular_ubasic/BEBAS___-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:bostontraffic_webfont;
    src:url(../font/bostontraffic_regular_ubasic/boston_traffic-webfont.ttf) format('truetype');}
	
@font-face{
    font-family:capsuula_webfont;
    src:url(../font/capsuula_regular_ubasic/Capsuula-webfont.ttf) format('truetype');}

	@font-face{
    font-family:capsuula_webfont;
    src:url(../font/captureit_ubasic/Capsuula-webfont.ttf) format('truetype');}
	*/
	
	.ui-navbar li .ui-btn { 
	font-size: 1em;
    line-height: 1.5; }

div#preview {
    margin:auto;
    width: 144px;
    height: 168px;
    outline: 1px solid;
    background: #000000;
}

#preview div.line {
    width: 144px;
    height: 40px;
    float: left;
    text-align: center;
    color: #ffffff;
}

/*
.20db .line {
    font-family: '20db_webfont', arial, serif;
    font-size: 2.125em;
}

.archistico .line {
    font-family: 'archistico_webfont', arial, serif;
    font-size: 2.125em;
} */
